

 .menu {
  width: 20px;
  padding-top: 5px;
}

header #logo {
  width: 70%;
  position: relative;
  margin: 0;
  bottom: 0;
}

ul {
  list-style-type: none;
  margin: 0% 30% 10% 30%;
  padding-top: 1%;
}

ul a {
}

li {
  display: inline;
}

li a{
  float: left;
}

.topnav{
  background-color: white;
  overflow: hidden;
  bottom: 0;
}

header .topnav ul a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1em;
  font-family: helvetica, sans-serif;
}

.topnav a:hover {
  color: #DE836A;
}
